*{
box-sizing: border-box;
}
#header {
  margin-left: 20%;
  margin-top: 20px;
  
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

.container {
 padding-left: 20vw;
}

#subheader {
  margin-left: 20%;
  width: 30em;
  font-size: 27px;
}

input[type="text"] {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: block;
  width: 61vw;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


#TodoForm {
  margin-left: 20%;
  margin-top: 30px;
}


body {
  background-color: azure;
}

label {
  font-size: 20px;
}

.button-flex {
  width: 61vw;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
}

#xxx {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.filter-buttons {
  background-color: blue;
  color: white;
}

#submitbutton {
  background-color: blue;
  color: white;
  width: 148px;
}

#List {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 20%;
  padding-left: 0;
}

.pagination {
  margin-left: 688px;
  position: absolute;
  bottom: 20px;
}

.item {
  border: 1px solid #333333;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 150px;
  overflow: auto;
}

.delete {
  background-color: rgb(255, 0, 0);
  /*position: absolute;  */
  top: 0px;
  right: 0px;
  float: right;
}

.complete {
  right: 15px;
  float: right;
  background-color: rgb(16, 246, 16);
}
